<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <title>Sandwiches</title>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/nav %>
    <div class="winner">
      <% Object.keys(navbars).forEach(function (id) { %>
        <h1><%= navbars[id].name %></h1>
        <img src=<%= navbars[id].img_url %>>
        <a class="link" href=<%= navbars[id].url %>><%= navbars[id].text %></a>
        <p><%= navbars[id].ingredients %></p>
      <% }) %>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
